<h1>Create New User</h1>

<%= form_with model: [:admin, @user] do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>

  <%= f.submit "Create User" %>
<% end %>
