<div id="<%= dom_id consult %>">
  <p>
    <strong>Title:</strong>
    <%= consult.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= consult.body %>
  </p>

  <p>
    <strong>Asked by:</strong>
    <%= consult.asked_by %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= consult.assigned_to %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= consult.status %>
  </p>

</div>
