<div id="<%= dom_id(consult) %>"
     class="consult-card mb-3 p-2 border shadow-sm
            <%= 'border-dark border-3' if consult.unread_for?(viewer) %>">

  <h5>
    Accession:
    <%= link_to consult.title, consult_path(consult) %>
  </h5>

  <small>
    Assigned by <%= consult.asked_by.name %> •
    <%= time_ago_in_words(consult.created_at) %> ago
  </small>

</div>
