<%= form_with(model: @consult, local: true) do |f| %>
  <% if @consult.errors.any? %>
    <div class="alert alert-danger">
      <h4>Errors:</h4>
      <ul>
        <% @consult.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 shadow-sm">
    <h4><%= f.label :accession, class: "form-label" %></h4>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>



  <div class="mb-3 shadow-sm">
   <h4> <%= f.label :assigned_to_id, "Doctor:", class: "form-label" %></h4>
    <%= f.collection_select :assigned_to_id,
          @eligible_users || [], 
          :id,
          :name,
          { prompt: "Select a doctor" },
          { class: "form-select", required: true } %>
  </div>

    <%= f.submit "Submit Assist", class: "btn btn-primary"%>
 
<% end %>

<div id: "conss">
<%= link_to "â† Back", :back, class: "btn btn-primary", id: "back_button" %>
</div>