<h1>New Consult</h1>
<%= render 'form', consult: @consult %>

<!-- tryin the partial above instead. Dont uncomment please
<%= form_with(model: @consult, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :Accession %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :assigned_to_id, "Assign to Doctor" %>
   
   <%= f.collection_select :assigned_to_id,
      User.where.not(id: current_user.id).eligible_for_consults,
      :id, :name,
      prompt: "Select an available doctor",
      class: "form-select" %>



  </div>



  <%= f.submit "Create Consult", class: "btn btn-primary" %>
<% end %>
-->
