<h2 class="pageheader"><u>Accession: <%= @consult.title %></u></h2>
<p><strong>Asked By:</strong> <%= @consult.asked_by.name %></p>
<p><strong>Assigned To:</strong> <%= @consult.assigned_to&.name || "Unassigned" %></p>
<!--<p><strong>Status:</strong> <%= @consult.status_text %></p>-->
<p><strong>Question:</strong> <br> <h5><%= @consult.body %></h5></p>

<% if @answer.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if current_user == @consult.assigned_to && @consult.answer.nil? %>
  <h3>Your reply:</h3>
  <%= form_with model: [@consult, Answer.new], local: true do |f| %>
    <div class="mb-3">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.submit "Reply", class: "btn btn-primary" %>
  <% end %>
  
<% elsif @consult.answer.present? %>
<hr>
  <h3><u>Your Response:</u></h3>
  
  <h5><%= @consult.answer.body %></h5>
  <%= @consult.answer.user.name %>
<% end %>


