<h1>Schedule</h1>

<hr>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Time Zone<th>
      <% @days_of_week.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.time_zone %></td>
        <% 0.upto(6) do |dow| %>
          <% availability = user.availabilities.find { |a| a.day_of_week == dow } %>
          <td>
            <% if availability && availability.start_time && availability.end_time %>
              <%= availability.start_time.strftime("%H:%M") %> - 
              <%= availability.end_time.strftime("%H:%M") %>
            <% else %>
              N/A
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div id: "conss">
<%= link_to "â† Back", :back, class: "btn btn-primary" %>
</div>